body{
  background-color: rgb(230, 225, 225);
  height: 2000px;
}
.topo{
  width: 1350px;
  height: 54px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.logo{
  display: flex;
}

.pesquisa{
  display: flex;
  width: 215px;
  height: 28px;
}

#logo-instagram{
  margin-right: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
}

input{
  width: 100%;
  text-align: center;
  border-radius: 4px;
  border: 0.5px solid rgb(204, 203, 203);
  background-color: rgb(247, 246, 246);
}

.menu-superior{
  height: 22px;
  width: 176px;
  display: flex;
  justify-content: space-evenly;
}
.icone{
  width: 22px;
  height: 22px;
}

.pagina{
  margin-top: 88px;
  display: flex;
  justify-content: center;
}
.posts{
  display: flex;
  flex-direction: column;
}

.status{
  margin-bottom: 20px;
  display: flex;
  width: 614px;
  background-color: #fff;
  height: 118px;
  align-items: center;
  justify-content: space-evenly;
}

.statu{
  border-radius: 50%;
  background-color: red;
  width: 56px;
  height: 56px;
}

.side-bar{
  width: 293px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

#perfil-pessoal-side{
  height: 85px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

#perfil-pessoal-side img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-left: 10px;
}

#informacao-pessoal{
  margin-left: 10px;
}

#informacao-pessoal h6{
  font-weight: bold;
  font-family: inter;
}